# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/configs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Node Modules
/node_modules
# /configs
/ComplaintPics

# Custom Modules
# /custom_modules/configs/index.json


# upload folders


# /Uploads
# /Visits
# /documents
# /outletpic
